<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">
<!-- 	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
			<init-param> <param-name>jersey.config.server.provider.packages</param-name> 
			<param-value>org.example.mine</param-value> </init-param> <init-param> <param-name>jersey.config.server.provider.packages</param-name> 
			<param-value>org.example.mine</param-value> <param-name>javax.ws.rs.Application</param-name> 
			<param-value>config.ApplicationConfig</param-value> </init-param> <init-param> 
			<param-name>jersey.config.server.provider.classnames</param-name> <param-value> 
			org.glassfish.jersey.jackson.JacksonFeature </param-value> </init-param> 
			<load-on-startup>1</load-on-startup> <context-param> <param-name>resteasy.scan</param-name> 
			<param-value>false</param-value> </context-param> <context-param> <param-name>resteasy.scan.providers</param-name> 
			<param-value>false</param-value> </context-param> <context-param> <param-name>resteasy.scan.resources</param-name> 
			<param-value>false</param-value> </context-param> <servlet-mapping> <servlet-name>Jersey 
			Web Application</servlet-name> <url-pattern>/webapi/*</url-pattern> </servlet-mapping>
	</servlet> -->
		<context-param>
			<param-name>resteasy.scan</param-name>
			<param-value>true</param-value>
		</context-param>
		<context-param>
			<param-name>resteasy.servlet.mapping.prefix</param-name>
			<param-value>/rest</param-value>
		</context-param>
		<listener>
			<listener-class>
				org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
			</listener-class>
		</listener>
<!-- 		<servlet>
			<servlet-name>ImixsRestService</servlet-name>
			<servlet-class>
				org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
			</servlet-class>
	
	</servlet> -->

</web-app>
